[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "/Users/matthewbritt/.vim/bundle/lightline.vim"]
	path = /Users/matthewbritt/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "/Users/matthewbritt/.vim/bundle/supertab"]
	path = /Users/matthewbritt/.vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
